.dashBoard {
  margin: 0 12%;
  width: 100%;
}

.dashBoardContainer {
  width: 100%;
}

.socialMediaMobile,
.mobileHeader,
.addButton {
  display: none;
}

@media screen and (max-width: 582px) {
  .mainBodyCount,
  .searchBar,
  .topBar {
    display: none;
  }

  .socialMediaMobile,
  .mobileHeader {
    display: block;
  }

  .mobileTopBar {
    z-index: 1;
    display: flex;
    position: fixed;
    padding: 0 18px;
    top: 0;
    left: 0;
    gap:68px;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    background-color: #0e85ff;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.12), 0 4px 4px 0 rgba(0, 0, 0, 0.24);
  }

  .sideBar {
    display: none;
  }

  .dashBoard {
    margin: 0px;
  }

  .headerAddButton {
    display: block;
    bottom: 1rem;
    right: 1rem;
  }

  .mainBody {
    height: calc(100vh - 2rem);
  }

  .headerSearch {
    display: none;
  }

  .headerAddButton {
    position: fixed;
    bottom: 31px;
    right: 33px;
    z-index: 1;
  }

  .mobileTopBarFirst {
    display: flex;
    align-items: center;
    gap: 23px;
  }

  .mobileTopBarLast {
    display: flex;
    align-items: center;
    gap: 36px;
  }

  .mainBody {
    margin-top: 0px;
    width: 100px;
    position: absolute;
    top: 2em;
  }

  .socialMediaMobile {
    padding-top: 32px;
    display: flex;
    gap: 10px;
    align-items: center;
    width: 17em;
    margin-left: -19px;
  }

  .overlay {
    background: none;
  }

  .modal-content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
}
