.mainBody {
  position: absolute;
  top: 5rem;
  /* left: 8rem; */
}

.mainBodyContainer {
  width: 45rem;
  margin-left: 8rem;
  padding: 1em 0 0 3em;
  /* display: flex; */
  /* flex-direction: column; */
}

.mainBodyHeader {
  display: flex;
  justify-content: space-between;
}

.headerTitle {
  font-size: 30px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 41px;
  border-bottom: 3px solid var(--active);
  border-radius: 2px;
  color: var(--color6);
  width: 32px;
  padding-top: 20px;
}

.headerOptions {
  display: flex;
  gap: 38px;
  position: fixed;
  right: 12%;
}

.headerSearch {
  display: flex;
  align-items: center;
  position: relative;
}

.searchBarIcon {
  position: absolute;
  right: 0;
}

.searchBar {
  outline: none;
  border-bottom: 1px solid var(--color1);
  border-width: 0 0 1px 0;
  background: none;
  padding: 10px;
  font-size: 18px;
  letter-spacing: 0;
  line-height: 24px;
}

.headerAddButton {
  cursor: pointer;
}

.mainBodyCount {
  padding-top: 32px;
  display: flex;
  gap: 10px;
  align-items: center;
  width: 17em;
}

.socialMedia {
  color: var(--color6);
  font-size: 24px;
  letter-spacing: 0;
  line-height: 33px;
}

.socialMediaCount {
  height: 37px;
  width: 37px;
  border: 1px solid var(--color2);
  background-color: var(--color1);
  color: var(--color2);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

.mainBodyEmpty {
  border-radius: 500px;
  background-color: var(--topBar);
  width: 819px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 300px;
}

.mainBodyEmpty div {
  color: var(--color6);
  font-size: 26px;
  letter-spacing: 0;
  line-height: 36px;
  text-align: center;
  padding: 3em 0;
  max-width: 400px;
}

.closeButton {
  position: absolute;
  top: 351px;
  right: 761px;
}

.close {
  border: none;
  background: none;
  outline: none;
  position: absolute;
  top: -377px;
  right: -792px;
  cursor: pointer;
  z-index: 1;
}

.cardContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
  align-items: center;
  gap: 23px;
  margin-top: 5rem;
}

.cardContents {
  width: 363px;
  background-color: var(--color2);
  border-radius: 1em;
  padding: 12px 20px;
  cursor: pointer;
}

.mainBodyContents {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 23px;
  width: 61vw;
}

.cardContents {
  width: 343px;
  background-color: #d6c2c2;
  border-radius: 1em;
  padding: 12px 20px;
}

.siteLink {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #3c4857;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 22px;
  text-align: center;
}

.copyTitle {
  color: #0e85ff;
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 27px;
  padding-bottom: 6px;
}

.cardCopy {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.cardHead {
  display: flex;

  align-items: center;

  justify-content: space-between;
}

.cardRight {
  display: flex;
  flex-direction: column;
}

.copyPass {
  color: var(--sideBar);
  font-size: 12.6px;
  letter-spacing: 0;
  line-height: 17px;
}

@media screen and (max-width: 582px) {
  .mainBodyCount {
    padding-top: 32px;
    display: flex;
    gap: 10px;
    align-items: center;
    width: 17em;
  }

  .socialMediaMobile {
    padding-top: 32px;
    display: flex;
    gap: 10px;
    align-items: center;
    width: 17em;
  }

  .mainBodyHeader{
    display: flex;
    align-items: center;
    position: absolute;
    justify-content: space-between;
    right: 0;
    left: 0;
    top:0;
    margin-top: 1em;
  }
}
